@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Young+Serif&display=swap');
@import "tailwindcss";

@theme{
    --color-primary-color: #001948;
    --color-secondary-color: #dfa408;
    --color-tertiary-color: #6586C7;
    --color-secondary-white: #f1f1f1;
    --color-admission-first : #FCDFB5;
    --color-admission-second : #F7D090;
    --color-admission-third : #F1C16B;
    --font-garamond: 'EB Garamond', serif;

}
#root {
    padding: 0% !important;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

p{
  font-family: Helvetica, sans-serif;
  /* font-size: 17px !important; */
}